.add-conteudo {
  margin: 0;
  max-width: 800px;
  width: 100%;
  cursor: pointer;
}

@media (min-width: 500px) {
  .add-conteudo {
    min-width: 400px;
    width: 400px;
  }
}

.wrapper .add-conteudo {
  flex-grow: 1;
}

.add-conteudo.margin-auto {
  margin: auto;
}

.add-conteudo > .header {
  padding: 1rem;
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
  color: var(--background-color);
  font-weight: var(--font-weight-bold);
  border-radius: 10px;
  text-align: center;

  transition: all 0.5s ease;
}

.add-conteudo > .header:hover {
  border: 2px solid var(--text-color);
  cursor: pointer;
}
