.add-conteudo:not() {
  margin: 0;
  min-width: 200px;
  cursor: pointer;
}

.wrapper .add-conteudo {
  flex-grow: 1;
}

.add-conteudo.margin-auto {
  margin: auto;
  width: max-content;
}

.add-conteudo > .header {
  padding: 1rem;
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
  color: var(--background-color);
  font-weight: var(--font-weight-bold);
  border-radius: 10px;
  text-align: center;

  transition: all 0.5s ease;
}

.add-conteudo > .header:hover {
  border: 2px solid var(--text-color);
  cursor: pointer;
}
