@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --title-font-family: "JetBrains Mono", monospace;
  --font-family: "Barlow", sans-serif;
  --font-style: normal;
  --font-weight-light: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 800;

  --background-color: #fbf1e1;
  --text-color: #002ec9;
  --accent-color: #ff4d80;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family);
  font-style: var(--font-style);
  color: var(--text-color);
  align-items: flex-start;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font-family);
  color: var(--text-color);
}

h3 {
  margin: 0;
}

hr {
  border: 0.5px solid var(--text-color);
}

#root {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-auto-rows: max-content auto;
  padding-bottom: 4rem;
}

input[type="button"],
input[type="submit"] {
  cursor: pointer;
  font-family: var(--title-font-family);
}

input[type="button"]:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

a {
  all: unset;
  cursor: pointer;
}

button {
  background-color: var(--text-color);
}

select,
textarea,
input,
.botao-add {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1.5px solid var(--text-color);
  color: var(--text-color);
  padding: 10px;
  border-radius: 10px;
  outline: none;
  position: relative;
}

input {
  width: -webkit-fill-available;
}
input.full-width {
  width: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
}

label > span {
  color: var(--accent-color);
  font-size: 120%;
  margin-left: 5px;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
